.info {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;   
}
body{
    background: linear-gradient(to right, grey,white);
}

.box {
    background-color: rgb(7, 119, 248);
    width: 50%;
    border-radius: 20px;
}

img{
    border-radius: 30px;

}
a{
    color: aquamarine;
}
h1{
    color: cornflowerblue;
}
@media(max-width: 500px){
    .info {
        display: flex;
        justify-content: center; 
        flex-direction: column;
        align-items: center;   
    }
    body{
        background: linear-gradient(to right, rgb(19, 18, 18),white);
    }
    
    .box {
        background-color: rgb(7, 119, 248);
        width: 50%;
        border-radius: 20px;
    }
    
    img{
        border-radius: 30px;
    
    }
    a{
        color: rgb(55, 0, 255);
    }
    h1{
        color: rgb(4, 252, 37);
}
}